Pillow>=11.0.0
torch>=2.0.0
transformers==4.47.0
fugashi[unidic-lite]==1.5.2
torchvision
manga-ocr
opencv-python
fastapi
uvicorn
httpx2
python-multipart
matplotlib
deep-translator
translators
huggingface-hub
manga-ocr
numpy<2.0.0
opencv-python
pillow
ultralytics
gunicorn
tqdm
safetensors
cryptography
sentencepiece
accelerate
bitsandbytes
sacremoses
torch-directml
torch==2.5.1 
torchvision==0.20.1
mistral-common>=1.8.6